html{
    background: url('https://images.unsplash.com/photo-1585057837011-68d7a36a6a49?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* object-fit: cover; */
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 450px;
}
.letter {
    width: 120px;
    border: 0.2rem solid black;
    border-radius: 0.5rem;;
    text-align: center;
    color: black;
    margin: auto 20px;
    text-shadow: 0 0 .5rem black;
}
.letter h2{
    margin-top: 10px;
}
.playing {
    border: 5px solid rgb(240, 207, 20);
    transform: scale(1.1);
    transition: all 0.07s ease;
}